@model BussPassManagement.Models.DriverInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DriverInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PassNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityCardno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityCardno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DriverID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
